/* 將所有元素"*"(包含兩個偽元素)的內外邊距清空，並確保寬度計算包含邊框 */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;/* 讓寬度和高度永遠跟我設定的一樣,不會因為邊框邊距而變大變小 */
}

/* 確保圖片不會超出容器 */
img {
  max-width: 100%;
  display: block;
}

/* 設定一個乾淨的基礎字體 */
body {
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}